body {
  background-color: rgb(235, 244, 255);
  margin: 0;
}

.logo {
  max-width: 15%;
  max-height: 15%;
  margin: 0;
}

.res {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.resdiv {
  text-align: center;
}

.surround {
  left: 47%;
  top: 30%;
  position: absolute;
}

.fadeIn1 {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

h1 {
  color: rgb(168, 168, 168);
  font-size: 4vw;
  padding: 5px;
  padding-left: 0;
  margin: 0;
  animation: delay ease 3s;
  -webkit-animation: delay ease 3s;
  -moz-animation: delay ease 3s;
  -o-animation: delay ease 3s;
  -ms-animation: fadeIn ease 3s;
}

a {
  text-decoration: none;
  color: rgb(168, 168, 168);
  transition: all 0.2s ease-in-out;
  line-height: 16px;
}

a:hover {
  color: rgb(126, 126, 126);
  font-size: 110%;
  padding: 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
