body {
  background-color: rgb(235, 244, 255);
  margin: 0;
  text-align: center;
}

.logo {
  width: 160px;
  height: auto;
}

.yeet {
  width: 160px;
  height: auto;
}

.res {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.welcome {
  position: relative;
  color: rgb(168, 168, 168);
  font-size: 70px;
  font-weight: bold;
  padding: 5px;
  padding-left: 0;
  margin: 0;
  opacity: 0;
  top: 100px;
  left: 0px;
  animation: fadeInOut ease 1.3s;
  -webkit-animation: fadeInOut ease 1.3s;
  -moz-animation: fadeInOut ease 1.3s;
  -o-animation: fadeInOut ease 1.3s;
  -ms-animation: fadeInOut ease 1.3s;
}

.resdiv {
  text-align: center;
}

.surround {
  left: 50%;
  top: 20%;
  position: absolute;
  margin-top: -120px;
  margin-left: -120px;
}

.fadeIn1 {
  animation: delay ease 2.2s;
  -webkit-animation: delay ease 2.2s;
  -moz-animation: delay ease 2.2s;
  -o-animation: delay ease 2.2s;
  -ms-animation: delay ease 2.2s;
}
.about {
  animation: delay ease 2.5s;
  -webkit-animation: delay ease 2.5s;
  -moz-animation: delay ease 2.5s;
  -o-animation: delay ease 2.5s;
  -ms-animation: delay ease 2.5s;
}
.projects {
  animation: delay ease 2.8s;
  -webkit-animation: delay ease 2.8s;
  -moz-animation: delay ease 2.8s;
  -o-animation: delay ease 2.8s;
  -ms-animation: delay ease 2.8s;
}
.github {
  animation: delay ease 3.1s;
  -webkit-animation: delay ease 3.1s;
  -moz-animation: delay ease 3.1s;
  -o-animation: delay ease 3.1s;
  -ms-animation: delay ease 3.1s;
}
.resume {
  animation: delay ease 3.4s;
  -webkit-animation: delay ease 3.4s;
  -moz-animation: delay ease 3.4s;
  -o-animation: delay ease 3.4s;
  -ms-animation: delay ease 3.4s;
}
.fades h1 {
  color: rgb(168, 168, 168);
  font-size: 50px;
  padding: 5px;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(168, 168, 168);
  transition: all 0.2s ease-in-out;
  line-height: 16px;
}

a:hover {
  color: rgb(126, 126, 126);
  font-size: 110%;
  padding: 0px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
